* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #fff;
}
.links a{
  margin-right: 1rem;
  text-decoration: none;
  font-weight: 600;
}
.links a:last-child {
  margin-right: 0;
}